.hero .container {
  display: flex;
  padding: 30px 0;
  gap: 40px;
}
.hero img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.hero p {
  font-size: 19px;
  color: #868a8a;
}
