.item {
  display: flex;
  padding: 10px;
}

.item .counter {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #808484;
}

.item .counter svg {
  color: #00cdbd;
  height: 20px;
  width: 20px;
}

.item span:last-child {
  margin-left: auto;
}
